/* Registration */

input[type=submit]
{
	background		: -moz-linear-gradient( top, #ccc, #fff, #ccc );;
	-moz-border-radius	: 3px;
}

.group
{
	border			: solid 1px #eee;
	display			: table;
	margin			: 0 0 0 0;
	width			: 100%;
}

	.group .group-title
	{
		background		: -moz-linear-gradient( top, #ddd, #eee, #ddd );
		display			: table-caption;
		padding			: 9px;
	}

.registration-item
{
	background		: #fff;
	background		: -moz-linear-gradient( top, #fff, #fff, #eee );
	display			: table-row;
}

	/* Title */
	.registration-item .registration-item-title
	{
		border-bottom	: solid 1px #ddd;
		display			: table-cell;
		padding			: 9px;
		width			: 15%;
		vertical-align	: top;
	}
	
	/* Field */
	.registration-item .registration-item-field
	{
		border-bottom	: solid 1px #eee;
		display			: table-cell;
		width			: 20%;
		padding			: 9px;
	}
	
	/* Message */
	.registration-item .registration-item-message
	{
		border-bottom	: solid 1px #ddd;
		color			: #f00;
		display			: table-cell;
		padding			: 9px 9px 0 9px;
		vertical-align	: top;		
	}